@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-bg-color: #E0E3CD;
  --secondary-bg-color: #fff;
  --primary-color: #4D603A;
  --secondary-color: #935A40;
  --highlight-color: #D2953D;
  --input-color: #FFF8ED;

}

.bg-primary {
  background-color: var(--primary-bg-color);
}

.bg-secondary {
  background-color: var(--secondary-bg-color);
}

.bg-input {
  background-color: var(--input-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-highlight {
  color: var(--highlight-color);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-color);
  background: var(--primary-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.red {
  color: red;
}